@import "../../scss/config";
@import "../../scss/global";
@import "../../scss/mixin";

.Home {
  margin-top: toRem(65);
}

.ContentReview {
  padding: toRem(100) toRem(24);
  padding-bottom: toRem(20);

  @include mq(md) {
    padding: toRem(100) toRem(48);
    padding-bottom: toRem(20);
  }
}
